# ===============================
# OS / System files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor configs
# ===============================
# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/

# ===============================
# Build outputs
# ===============================
target/
*.jar
*.war
*.ear

# ===============================
# Maven / temp files
# ===============================
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

learning/target